binds {
    Mod+S hotkey-overlay-title="Settings" {
        spawn "dms" "ipc" "call" "settings" "focusOrToggle";
    }
    Mod+Y hotkey-overlay-title="Toggle bar" {
        spawn "dms" "ipc" "call" "bar" "toggle" "index" "0";
    }
    Mod+N hotkey-overlay-title="Notification Center" {
        spawn "dms" "ipc" "call" "notifications" "toggle";
    }
    Mod+W hotkey-overlay-title="Browse Wallpapers" {
        spawn "dms" "ipc" "call" "dankdash" "wallpaper";
    }

    // Security
    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn "dms" "ipc" "call" "lock" "lock";
    }

    // Audio Controls
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "increment" "5";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "5";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }

    // Brightness Controls
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "10" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "10" "";
    }

    // Music Controls
    XF86AudioPlay allow-when-locked=true { 
      spawn "dms" "ipc" "call" "mpris" "playPause"; 
    }
    XF86AudioPause allow-when-locked=true { 
      spawn "dms" "ipc" "call" "mpris" "pause"; 
    }
    XF86AudioStop allow-when-locked=true { 
      spawn "dms" "ipc" "call" "mpris" "stop"; }
    XF86AudioNext allow-when-locked=true { 
      spawn "dms" "ipc" "call" "mpris" "next"; 
    }
    XF86AudioPrev allow-when-locked=true { 
    spawn "dms" "ipc" "call" "mpris" "previous"; 
  }
}
